<div class="container">
  <div class="concept">
    <p class="title">"Prépare ton stage", la formation e-learning qui s'adresse aux étudiants en droit.
    </p>
  </div>
</div>

<hr>

<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <div class="circle">
        <div class="icons">
          <i class="fas fa-file-contract"></i>
        </div>
      </div>
      <p class="heading">À propos</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <div class="circle">
          <div class="icons">
            <i class="fas fa-user-graduate"></i>
          </div>
      </div>
      <p class="heading">Étudiants</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <div class="circle">
          <div class="icons">
            <i class="fas fa-balance-scale"></i>
          </div>
      </div>
      <p class="heading">Avocats</p>
    </div>
  </div>
</nav>

<nav class="level">
  <div class="level-item has-text-centered">
    <div class="infos">
      <ul>
        <li>Formation aux <strong>taches demandées</strong> lors des stages avocats.</li>
        <li>Information sur les <strong>exigences des cabinets</strong>.</li>
        <li>Bénéficier de <strong>précieux conseils</strong> pour réussir son stage.</li>
      </ul>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div class="infos">
      <ul>
        <li>Envie d'être <strong>serein</strong> pour tes prochains stages ?</li>
        <li>Envie de <strong>valoriser</strong> ton CV ?</li>
        <li>Besoin d'<strong>augmenter tes chances</strong> pour trouver un stage ?</li>
      </ul>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div class="infos">
      <ul>
        <li>Besoin d'un stagiaire <strong>autonome et compétent</strong> ?</li>
        <li><strong>Pas le temps</strong> de le former ?</li>
        <li>Inscrivez le sur Prépare ton stage.</li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="formules">
    <p class="title">Les formules</p>
  </div>
  <div class="formules-container">
    <div class="pricing-table">
      <div class="pricing-item">
        <div class="pricing-title">
          Étudiants
        </div>
        <div class="pricing-value">59.<span class="smallText">9O</span>€
        </div>
        <ul class="pricing-features">
          <li><span class="keywords">Vidéos de cours</span> en illimité</li>
          <li>Modèles d'<span class="keywords">actes juridiques</span></li>
          <li><span class="keywords">Tests</span> de connaissances</li>
          <li><span class="keywords">Certificat</span> de réussite</li>
        </ul>
        <div class="button-price">J'achète</div>
      </div>
    </div>
    <div class="pricing-table">
        <div class="pricing-item pricing-featured">
          <div class="pricing-title">
            Avocats
          </div>
          <div class="pricing-value">199.<span class="smallText">90</span>€
          </div>
          <ul class="pricing-features">
            <li><span class="keywords">Inscription</span> d'un stagiaire*</li>
            <li>Liste des <span class="keywords">étudiants certifiés</span></li>
            <li><span class="keywords">Offres</span> de stages</li>
          </ul>
          <div class="button-price">J'achète</div>
        </div>
    </div>
  </div>
  <span class="plus">*Accès à l'ensemble de la formule réservée aux étudiants.</span>
</div>

<hr>

<div class="container team">
    <div class="team">
      <p class="title">Les fondatrices</p>
    </div>
    <nav class="level">
        <div class="level-item has-text-centered">
            <div>
                <img src="../../assets/clara.jpeg" class="circle" style="filter: grayscale(1);">
              <p class="heading">Clara Eme</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <img src="../../assets/mathilde.jpeg" class="circle" style="filter: grayscale(1);">
              <p class="heading">Mathilde Brivot</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <img src="../../assets/nora.jpeg" class="circle" style="filter: grayscale(1);">
              <p class="heading">Nora Biout</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <img src="../../assets/faustine.jpg" class="circle" style="filter: grayscale(1);">
              <p class="heading">Faustine Cheval</p>
            </div>
        </div>
      </nav>

      <nav class="level">
          <div class="level-item has-text-centered">
            <div class="infos">
              <ul>
                <li>Master 2 Contentieux à Besançon.</li>
                <li>Porteur de projet.</li>
                <li>"L'idée m'est venue lors de mes stages".</li>
              </ul>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div class="infos">
              <ul>
                <li>Master 2 Droit du Sport à Dijon.</li>
                <li>Élaboration marketing.</li>
              </ul>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div class="infos">
              <ul>
                <li>Master 2 Contentieux à Toulon.</li>
                <li>Community Manager.</li>
              </ul>
            </div>
          </div>
          <div class="level-item has-text-centered">
              <div class="infos">
                <ul>
                  <li>Master 2 Droit privé général à Besançon.</li>
                  <li>Conception graphiquen.</li>
                </ul>
              </div>
          </div>
        </nav>
</div>

<footer class="footer">
  <div class="content has-text-centered">
    <p class="footer">
        © 2019 <strong>Prépare ton Stage Avocat</strong> - <a href="https://jgthms.com">Mentions légales</a>.
        <br>Développé par <a href="https://amelneffati.github.io/">Amel Neffati</a>.
    </p>
  </div>
</footer>
