<div class="container demo">
    <div class="demo">
      <p class="title">L'assignation</p>
    </div>

    <div class="video-container">
      <div>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/XD0uXeYG4oo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="box">
        Crée par<br>
        <strong>Me. Breffi</strong>
        <br>
        <br>
        <i class="far fa-clock"></i> <strong>5 minutes</strong>
      </div>
    </div>

    <div class="resume">
      L'assignation est un acte essentiel dans le quotidien du métier d'avocat. Cet acte est susceptible d'être frappé de nullité à défaut de contenir un certain nombre de mentions obligatoires.
      Cette vidéo permet d'en appréhender la rédaction.
    </div>

    <div class="notification">
        À la fin de ce cours, vous saurez :
        <ul>
          <li>— Rédiger une assignation</li>
          <li>— Déterminer la juridiction compétente.</li>
        </ul>
    </div>

    <div class="cours">
      <div>
        <a class="button is-primary is-inverted is-outlined">Commencer le cours</a>
      </div>
    </div>

    <div class="programme">
      <p class="prg"><i class="fab fa-font-awesome-flag"></i> Programme</p>
      <br>
      <ul>
        <li><span class="tt">I</span>. Introduction au cours.</li>
        <li><span class="tt">II</span>. Les mentions obligatoires.</li>
        <li><span class="tt">III</span>. Modèle d'assignation.</li>
        <li><span class="tt">IV</span>. Test de connaissances.</li>
      </ul>
    </div>

    <hr>

    <div class="certificat">
      <p class="prg"><i class="fas fa-trophy"></i> Certificat de réussite <a href="../../assets/diploma_03.pdf" class="link">(voir exemple)</a></p>
    </div>
  </div>
