<div class="container">
  <div class="temoignages">
    <p class="title">Ils l'ont fait</p>
  </div>

  <div class="notification">
      <em>"La prépa était incroyablement bien pensée et les vidéos des différents professeurs m'ont énormément aidées."</em>
      <p class="quote"><strong>Léa H.</strong>, <em>Stagiaire au cabinet EY</em></p>
  </div>

  <div class="notification">
      <em>"Je tiens tout particulièrement à vous remercier cela n'aurait pas été possible sans la prépa."</em>
      <p class="quote"><strong>Marie V.</strong>, <em>Stagiaire au cabinet Fidal</em></p>
  </div>

  <div class="notification">
      <em>"Merci je n'aurais jamais eu un tel niveau sans votre prépa."</em>
      <p class="quote"><strong>Jules M.</strong>, <em>Stagiaire au cabinet PWC</em></p>
  </div>
</div>
